/* General Elements*/
body{
	background-image: url("../images/background.jpg")
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 50%;
}
/* Classes */
.stats{
	margin-right:15%;
	margin-left: 25%;
}

.numberToMatch, .winsAndLosses, .userTotal{
	float: left;
	width: 20%;
	height: 35px;
}
.pics{
	width: 100%;
}

.gems{
	clear: both;
}
.gemImage {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: auto;
	float: left;
	margin: 20px 10px 25px;
}
/* IDs */
